In [1]:
import pandas as pd

In [97]:
df = pd.read_csv("C:\\Users\\91740\\Desktop\\SQL\\Exploratory Data Analysis with SQL\\05_Chemicals in Cosmetics Analysis....................... in progress\\data\\chemicals-in-cosmetics.csv")

In [98]:
df.head(2)

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),53,...,13463-67-7,6,Titanium dioxide,06/17/2009,08/28/2013,02-01-2011,07-09-2009,07-09-2009,NaN,1
1,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,65996-92-1,4,Distillates (coal tar),07-01-2009,07-01-2009,NaN,07-01-2009,07-01-2009,NaN,2

In [99]:
df.describe()

,CDPHId,CSFId,CompanyId,PrimaryCategoryId,SubCategoryId,CasId,ChemicalId,ChemicalCount
count,112870.000000,79187.000000,112870.000000,112870.000000,112870.000000,112870.000000,112870.000000,112870.000000
mean,19993.707203,32027.268024,445.114477,51.139470,66.985922,673.754762,32313.099442,1.281784
std,12327.400697,18774.020397,405.832049,20.558343,35.958149,148.616904,20152.245894,0.629136
min,2.000000,1.000000,4.000000,1.000000,3.000000,2.000000,0.000000,0.000000
25%,8540.250000,15530.500000,86.000000,44.000000,48.000000,656.000000,13932.250000,1.000000
50%,20522.000000,31885.000000,292.000000,44.000000,52.000000,656.000000,31789.000000,1.000000
75%,30713.000000,48175.500000,747.000000,59.000000,65.000000,656.000000,50470.750000,1.000000
max,41032.000000,64115.000000,1358.000000,111.000000,172.000000,1242.000000,67177.000000,9.000000

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112870 entries, 0 to 112869
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CDPHId                  112870 non-null  int64
 1   ProductName             112870 non-null  object
 2   CSFId                   79187 non-null   float64
 3   CSF                     78763 non-null   object
 4   CompanyId               112870 non-null  int64
 5   CompanyName             112870 non-null  object
 6   BrandName               112658 non-null  object
 7   PrimaryCategoryId       112870 non-null  int64
 8   PrimaryCategory         112870 non-null  object
 9   SubCategoryId           112870 non-null  int64
 10  SubCategory             112870 non-null  object
 11  CasId                   112870 non-null  int64
 12  CasNumber               106581 non-null  object
 13  ChemicalId              112870 non-null  int64
 14  ChemicalName            112870 non-null  object
 15  InitialDateReported     112870 non-null  object
 16  MostRecentDateReported  112870 non-null  object
 17  DiscontinuedDate        12906 non-null   object
 18  ChemicalCreatedAt       112870 non-null  object
 19  ChemicalUpdatedAt       112870 non-null  object
 20  ChemicalDateRemoved     2921 non-null    object
 21  ChemicalCount           112870 non-null  int64
dtypes: float64(1), int64(7), object(14)
memory usage: 18.9+ MB

In [101]:
group_1 = df.groupby(['ProductName'])
group_1.count().head(2)

,CDPHId,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,SubCategory,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
ProductName,,,,,,,,,,,,,,,,,,,,,
""" ROUGE DIOR ULTRA CARE LIQUID Flower Oil Liquid Lipstick Ultra Weightless Wear Petal Velvet Finish",25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,0,25,25,0,25
"""DIOR PRESTIGE LE MICRO-FLUIDE TEINT DE ROSE Micro-Nutritive Skincare Foundation Revitalizing and Illuminating",7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,0,7,7,0,7

#### ProductName

In [102]:
## productname column
## remove all the characters except alphabets and numbers
df['ProductName'] = df['ProductName'].str.replace('[^a-zA-Z0-9]', ' ', regex=True)
df['ProductName']

0          ULTRA COLOR RICH EXTRA PLUMP LIPSTICK ALL SHADES
1                                Glover s Medicated Shampoo
2                                Glover s Medicated Shampoo
3                  PRECISION GLIMMER EYE LINER ALL SHADES
4               AVON BRILLIANT SHINE LIP GLOSS ALL SHADES
                                ...
112865    Rainforest of the Sea  foil finger paints shad...
112866    Rainforest of the Sea  foil finger paints shad...
112867    Rainforest of the Sea  foil finger paints shad...
112868    Rainforest of the Sea  foil finger paints shad...
112869    Rainforest of the Sea  foil finger paints shad...
Name: ProductName, Length: 112870, dtype: object

In [103]:
## new df created with only two columns
## result save as csv file
new_df = df[['CDPHId','ProductName']]
new_df.to_csv('test.csv', index = True)

In [104]:
## column CSF remove characters except alphabets and numeric data
df['CSF'] = df['CSF'].str.replace('[^a-zA-Z0-9]', ' ', regex=True)

In [105]:
## display distinct elements in column CSF
test_group = df.groupby(['CSF'])
test_group.count().head(2)

,CDPHId,ProductName,CSFId,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,SubCategory,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
CSF,,,,,,,,,,,,,,,,,,,,,
Creamy Natural,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,0,1
00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,0,1

#### CDPHId, CSFId, CSF, CompanyName

In [106]:
## new test df create with 5 columns ('CDPHId','ProductName','CSFId','CSF','CompanyName')
## result imported as csv file
new_df = df[['CDPHId','ProductName','CSF','CompanyName']]
new_df.to_csv('test.csv', index = False)

#### BrandName, PrimaryCategory, SubCategory, ChemicalName

In [107]:
## processed BrandName, PrimaryCategory, SubCategory, ChemicalName
df['BrandName'] = df['BrandName'].str.replace('[^a-zA-Z0-9]', ' ', regex=True)
df['PrimaryCategory'] = df['PrimaryCategory'].str.replace('[^a-zA-Z0-9]', ' ', regex=True)
df['SubCategory'] = df['SubCategory'].str.replace('[^a-zA-Z0-9]', ' ', regex=True)
df['ChemicalName'] = df['ChemicalName'].str.replace('[^a-zA-Z0-9]', ' ', regex=True)

In [108]:
# find unique records using unique method
df['BrandName'].unique()

array(['AVON', 'Glover s', 'OPI', ..., 'Joico Hydra Splash',
       'Joico Lumishine', 'OASIS'], dtype=object)

In [109]:
# find the count of unique records
df['BrandName'].nunique()

2670

In [110]:
# column list
column_list = ['CDPHId','ProductName','CSF','CompanyName','BrandName','PrimaryCategory','SubCategory','ChemicalName']

In [111]:
## new csv with additional columns imported
new_df = df[column_list]
new_df.to_csv('test.csv', index = False)

#### CompanyId, PrimaryCategoryId, SubCategoryId

In [112]:
# unique company ids
# df['CompanyId'].unique()
# df['SubCategoryId'].unique()
df['PrimaryCategoryId'].unique()

array([ 44,  18,  59,  74, 106,   6,  90,  12, 111,  32,  68,  82,   1],
      dtype=int64)

In [113]:
# column list with additional columns
column_list = ['CDPHId','ProductName','CSF','CompanyName',
               'BrandName','PrimaryCategory','SubCategory','ChemicalName',
              'CompanyId','PrimaryCategoryId','SubCategoryId']

In [114]:
## new csv with additional columns imported
new_df = df[column_list]
new_df.to_csv('test.csv', index = False)

In [115]:
df['InitialDateReported'].unique()

array(['06/17/2009', '07-01-2009', '07-09-2009', ..., '02-05-2020',
       '02-07-2020', '02-10-2020'], dtype=object)

#### InitialDateReported

In [116]:
# replace - in date with /
df['InitialDateReported'] = df['InitialDateReported'].str.replace('-', '/', regex=True)

In [117]:
df['InitialDateReported'].unique()

array(['06/17/2009', '07/01/2009', '07/09/2009', ..., '02/05/2020',
       '02/07/2020', '02/10/2020'], dtype=object)

In [93]:
# transform this date format (mm/dd/year) to format (yyyy/mm/dd)

In [129]:
# (mm/dd/year)
df['mm'] = df['InitialDateReported'].str.slice(0, 2)
df['dd'] = df['InitialDateReported'].str.slice(3, 5)
df['yyyy'] = df['InitialDateReported'].str.slice(6,10)

# concat all the three columns for new date column in the format (yyyy/mm/dd)
df['InitialDateReported'] = df['yyyy'].str.cat([df['mm'],df['dd']], sep = '-')
df['InitialDateReported']

0         2009-06-17
1         2009-07-01
2         2009-07-01
3         2009-07-09
4         2009-07-09
             ...
112865    2020-02-10
112866    2020-02-10
112867    2020-02-10
112868    2020-02-10
112869    2020-02-10
Name: InitialDateReported, Length: 112870, dtype: object

In [132]:
# column list with additional columns
column_list = ['CDPHId','ProductName','CSF','CompanyName',
               'BrandName','PrimaryCategory','SubCategory','ChemicalName',
              'CompanyId','PrimaryCategoryId','SubCategoryId','InitialDateReported']
## new csv with additional columns (one date column added)
new_df = df[column_list]
new_df.to_csv('test.csv', index = False)

#### MostRecentDateReported, DiscontinuedDate, ChemicalCreatedAt, ChemicalUpdatedAt, ChemicalDateRemoved

In [133]:
# transform this date format (mm/dd/year) to format (yyyy/mm/dd)
# (mm/dd/year)
# 'MostRecentDateReported'
df['mm'] = df['MostRecentDateReported'].str.slice(0, 2)
df['dd'] = df['MostRecentDateReported'].str.slice(3, 5)
df['yyyy'] = df['MostRecentDateReported'].str.slice(6,10)

# concat all the three columns for new date column in the format (yyyy/mm/dd)
df['MostRecentDateReported'] = df['yyyy'].str.cat([df['mm'],df['dd']], sep = '-')
df['MostRecentDateReported']

0         2013-08-28
1         2009-07-01
2         2009-07-01
3         2013-08-28
4         2013-08-28
             ...
112865    2020-02-10
112866    2020-02-10
112867    2020-02-10
112868    2020-02-10
112869    2020-02-10
Name: MostRecentDateReported, Length: 112870, dtype: object

In [134]:
# DiscontinuedDate
# transform this date format (mm/dd/year) to format (yyyy/mm/dd)
# (mm/dd/year)
df['mm'] = df['DiscontinuedDate'].str.slice(0, 2)
df['dd'] = df['DiscontinuedDate'].str.slice(3, 5)
df['yyyy'] = df['DiscontinuedDate'].str.slice(6,10)

# concat all the three columns for new date column in the format (yyyy/mm/dd)
df['DiscontinuedDate'] = df['yyyy'].str.cat([df['mm'],df['dd']], sep = '-')
df['DiscontinuedDate']

0         2011-02-01
1                NaN
2                NaN
3                NaN
4         2011-02-01
             ...
112865           NaN
112866           NaN
112867           NaN
112868           NaN
112869           NaN
Name: DiscontinuedDate, Length: 112870, dtype: object

In [135]:
# ChemicalCreatedAt
# transform this date format (mm/dd/year) to format (yyyy/mm/dd)
# (mm/dd/year)
df['mm'] = df['ChemicalCreatedAt'].str.slice(0, 2)
df['dd'] = df['ChemicalCreatedAt'].str.slice(3, 5)
df['yyyy'] = df['ChemicalCreatedAt'].str.slice(6,10)

# concat all the three columns for new date column in the format (yyyy/mm/dd)
df['ChemicalCreatedAt'] = df['yyyy'].str.cat([df['mm'],df['dd']], sep = '-')
df['ChemicalCreatedAt']

0         2009-07-09
1         2009-07-01
2         2009-07-02
3         2009-07-09
4         2009-07-09
             ...
112865    2020-02-10
112866    2020-02-10
112867    2020-02-10
112868    2020-02-10
112869    2020-02-10
Name: ChemicalCreatedAt, Length: 112870, dtype: object

In [136]:
# ChemicalUpdatedAt
# transform this date format (mm/dd/year) to format (yyyy/mm/dd)
# (mm/dd/year)
df['mm'] = df['ChemicalUpdatedAt'].str.slice(0, 2)
df['dd'] = df['ChemicalUpdatedAt'].str.slice(3, 5)
df['yyyy'] = df['ChemicalUpdatedAt'].str.slice(6,10)

# concat all the three columns for new date column in the format (yyyy/mm/dd)
df['ChemicalUpdatedAt'] = df['yyyy'].str.cat([df['mm'],df['dd']], sep = '-')
df['ChemicalUpdatedAt']

0         2009-07-09
1         2009-07-01
2         2009-07-02
3         2009-07-09
4         2009-07-09
             ...
112865    2020-02-10
112866    2020-02-10
112867    2020-02-10
112868    2020-02-10
112869    2020-02-10
Name: ChemicalUpdatedAt, Length: 112870, dtype: object

In [137]:
# ChemicalDateRemoved
# transform this date format (mm/dd/year) to format (yyyy/mm/dd)
# (mm/dd/year)
df['mm'] = df['ChemicalDateRemoved'].str.slice(0, 2)
df['dd'] = df['ChemicalDateRemoved'].str.slice(3, 5)
df['yyyy'] = df['ChemicalDateRemoved'].str.slice(6,10)

# concat all the three columns for new date column in the format (yyyy/mm/dd)
df['ChemicalDateRemoved'] = df['yyyy'].str.cat([df['mm'],df['dd']], sep = '-')
df['ChemicalDateRemoved']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
112865    NaN
112866    NaN
112867    NaN
112868    NaN
112869    NaN
Name: ChemicalDateRemoved, Length: 112870, dtype: object

In [138]:
#### ChemicalCount

In [139]:
type(df['ChemicalCount'])

pandas.core.series.Series

In [140]:
df['ChemicalCount'].head(5)

0    1
1    2
2    2
3    1
4    1
Name: ChemicalCount, dtype: int64

In [143]:
# column list with additional columns
column_list = ['CDPHId','ProductName','CSF','CompanyName',
               'BrandName','PrimaryCategory','SubCategory','ChemicalName',
              'CompanyId','PrimaryCategoryId','SubCategoryId',
              'InitialDateReported', 'MostRecentDateReported', 
               'DiscontinuedDate', 'ChemicalCreatedAt', 'ChemicalUpdatedAt', 'ChemicalDateRemoved',
              'ChemicalCount']

In [145]:
## new csv with additional columns (one date column added)
transformed_df = df[column_list]
transformed_df.to_csv('chemicals_cosmetics.csv', index = False)